input.toc-content {
  border: none;
  background-color: transparent;
  outline:0;
  width:50px;
}

li[collapsed=true] ul {
  display:none;
}

li.to-delete {
    background: #FFF2F2;
}

li.placeholder {
  background: #D6FFE0;
  padding-left:5px;
}

ul.mark-section {
  border-left:1px dotted black;
  margin-left:-1px !important;
}

ul.toc li > ul {
  margin-left:20px !important;
}

ul.toc ul.mark-section {
  margin-left:19px !important;
}

span.controls {
  visibility:hidden;
}

span.controls span {
  cursor: pointer;
}

ul.toc, ul.toc ul {
  padding:0 !important;
}


ul.toc li div:hover > span.controls {
  visibility:visible;
}

//ANIMATION
.animate.ng-enter, .animate.ng-leave {
  -webkit-transition: 150ms linear all;
  transition: 150ms linear all;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
  max-height:500px;
  line-height:10px;
  left: 0;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
  max-height:0px;
  line-height:0px;
  left: 500px;
}
