input.toc-content {
  border: none;
  background-color: transparent;
  outline:0;
  width:50px;
}

li.to-delete {
    background: #FFF2F2;
}

li.placeholder {
  background: #f0f9ff;
  padding-left:5px;
}

span.controls {
  visibility:hidden;
}

span.controls span {
  cursor: pointer;
}

ul.toc li div:hover > span.controls {
  visibility:visible;
}

//ANIMATION
.animate.ng-enter, .animate.ng-leave {
  -webkit-transition: 150ms linear all;
  transition: 150ms linear all;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
  max-height:500px;
  line-height:10px;
  left: 0;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
  max-height:0px;
  line-height:0px;
  left: 500px;
}
