  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <input ng-model="newBook" />
      <button ng-click="addBook()">Crear</button>
      <ul class="nav nav-sidebar">
        <li ng-repeat="book in books" ng-click="setBook(book)">{{book.title}}</li>
      </ul>
    </div>
    <div ui-tree-options class="col-md-8 col-md-offset-3 site">
      <h1><input ng-model="book.title"/></h1>
      <div ui-tree="uiTreeOptions">
        <ul ng-init="parent = book.sections;" ui-tree-nodes="" ng-model="book.sections" class="toc">
          <li class="animate" ng-repeat="section in book.sections" ng-include="'tree_item_renderer.html'" ui-tree-node>
          </li>
        </ul>
      </div>
    </div>

    <script type="text/ng-template"  id="tree_item_renderer.html">
    <div class="level-{{$index}}">
          <span
            ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed, 'placeholder': !section.sections.length}"
            class="glyphicon glyphicon-chevron-down" ng-click="toggle()"></span>
          <label ui-tree-handle>
            {{section.number}}
          </label>
          <input  auto-grow init-focus autofocus
                  on-enter="add(parent, $index+1)"
                  on-shift-enter="add_inside(section)"
                  placeholder="Título" class="toc-content" ng-model="section.title"/>
          <span class="controls">
            <span add-placeholder class="glyphicon glyphicon-plus add" ng-click="add(parent, $index+1)"></span>
            <span class="glyphicon glyphicon-indent-left" add-placeholder-inside ng-click="add_inside(section)"></span>
            <span mark-node-on-hover class="glyphicon glyphicon-trash remove" ng-click="remove(section.sections, $index)"></span>
          </span>
        </div>
        <ul ng-init="parent = section.sections" ui-tree-nodes="" ng-model="section.sections" >
            <li class="animate" ng-repeat="section in section.sections" ng-include="'tree_item_renderer.html'" ui-tree-node></li>
        </ul>
    </script>
  </div>
