<div class="container">
  <div class="row">
    <div ui-tree-options class="col-md-6 col-md-offset-4">
      <h1>{{book.title}}</h1>
      <div ui-tree="uiTreeOptions">
        <ul ng-init="parent = book.sections;" ui-tree-nodes="" ng-model="book.sections" class="toc">
          <li class="animate" ng-repeat="section in book.sections" ng-include="'tree_item_renderer.html'" ui-tree-node>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template"  id="tree_item_renderer.html">
    <div>
      <label ui-tree-handle>
        1.2.3
      </label>
      <input placeholder="Título" auto-grow class="toc-content" ng-model="section.title"/>
      <span class="controls">
        <span add-placeholder class="glyphicon glyphicon-plus add"ng-click="add(parent, $index+1)"></span>
        <span class="glyphicon glyphicon-indent-left" add-placeholder-inside ng-click="add_inside(section)"></span>
        <span mark-node-on-hover class="glyphicon glyphicon-trash remove" ng-click="remove(section.sections, $index)"></span>
        <span ng-click="toggle()">toggle</span>
      </span>
    </div>
    <ul ng-init="parent = section.sections" ui-tree-nodes="" ng-model="section.sections" >
        <li class="animate" ng-repeat="section in section.sections" ng-include="'tree_item_renderer.html'" ui-tree-node></li>
    </ul>
</script>
